<% include head.ejs %>
<% include nav.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Node.js-SmartPush</h1>
        <p>select fun, profit from real_world where relational=false;</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        <%=salifou%>
    </div>
</div>


<% include foot.ejs %>