<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>Live Stream Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  
  
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Live Stream ESIR <i class="fa fa-circle"></i></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/index">HOME</a></li>
            <li class="active"><a href="/stream">STREAM</a></li>
            <li><a href="/login">LOGIN <i class="fa fa-user"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

 <div class="form-group row">
    <label for="Selection" class="col-sm-2 form-control-label">Choisir une caméra</label>
    <div class="col-sm-10">
       <select id="insightList"  class="form-control" multiple="multiple">
      <optgroup label="Group 1">
      <option value="1-1">Option 1.1</option>
      <option value="2-1">Option 2.1</option>
      <option value="2-2">Option 2.2</option>
      <option value="2-3">Option 2.3</option>
    </optgroup>
  </select>
    </div>
  </div>

<div class="container w">
      <form id="links" name="links">
        <input type="text" name="link" value="The link here ........" /><br />
        <br/>
        <input type="button" value="Add" onclick="AddLink();" /> 
    </form>
    <hr />
    <div id="lblValues"></div>

    
  
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/qFdk-QpSIeU" frameborder="0" allowfullscreen></iframe>
				<h4>Video 1</h4>
				<p>Ici description video 1</p>
				<p><a href="#">@nom_du_streameur</a></p>
			</div>

			<div class="col-lg-4">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/qFdk-QpSIeU" frameborder="0" allowfullscreen></iframe>
				<h4>Video 2</h4>
				<p>Ici description video 2</p>
				<p><a href="#">@nom_du_streameur</a></p>
			</div>
			<div class="col-lg-4">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/qFdk-QpSIeU" frameborder="0" allowfullscreen></iframe>
				<h4>Video 3</h4>
				<p>Ici description video 3</p>
				<p><a href="#">@nom_du_streameur</a></p>
			</div>
		<div class="col-lg-4">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/qFdk-QpSIeU" frameborder="0" allowfullscreen></iframe>
				<h4>Video 4</h4>
				<p>Ici description video  4</p>
				<p><a href="#">@nom_du_streameur</a></p>
			</div>
			
		</div><!-- row -->
		<br>
		<br>
		<br>
		<br>
	</div><!-- container -->

	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
